apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 547619294448.dkr.ecr.ap-south-1.amazonaws.com/portfolio-backend:latest
        env:
        - name: S3_BUCKET
          value: resume-bucket-name
        ports:
        - containerPort: 5000
